/*=============== CONTACT ===============*/
/*=============== CONTACT ===============*/

.contact__container{
  padding-top: 1rem;
}

.contact__form, 
.contact__group{
  display: grid;
  row-gap: 1rem;
}

.contact__form{
  position: relative;
}

.contact__input{
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  background-color: var(--container-color);
  color: var(--title-color);
}

.contact__input::placeholder{
  color: var(--text-color);
}

.contact__input::placeholder{
  color: var(--text-color);
}

.contact__form textarea{
  height: 11rem;
  resize: none;
  margin-bottom: 2rem;
}


.contact__message{
  position: absolute;
  left: 0;
  bottom: 4.5rem;
  font-size: var(--small-font-size);
  color: var(--title-color);
}


.success{
  color: #0fee2d;
  background-color: var(--dark-clr);
  font-size: 2rem;
  padding: 2rem;
  margin: 3rem 2rem;
}
