@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap:1rem;
  }
.skills{
  
    .section__container{
      @include grid(13.5rem);
  
      .box{
        padding:2rem 1.25rem;
        text-align: center;
        box-shadow: var(--box-shadow);
        background:  var(--dark-clr);
  
        &:hover{
          background: var(--light-clr);
  
          h3{
            color:var(--dark-clr);
          }
        }
  
        img{
          height: 4rem;
          margin-bottom: 1rem;
        }
  
        h3{
          color:var(--light-clr);
          font-size: 1.5rem;
          font-weight: normal;
          text-transform: uppercase;
        }
      }
    }
  }
  